/*El "*" es un selector universal, selecciona todo los elementos en HTML*/
* {
  margin: 0;
  padding: 0;
  font-family: "Space Grotesk", sans-serif;
}

/*Barra de navegacion*/
nav {
  background-color: #0055ff;
  color: white;
  font-size: 25px;
  display: flex;
  /*Eje Principal (Horizontal, Fila). Solo se puede usar si el elemento es flex*/
  /*Maneja el eje principal, izquierda, derecha, medio y mas*/
  justify-content: space-between;
  /*Eje Secundario (Vertical, Columna). Solo se puede usar si el elemento es flex*/
  /*Maneja el eje secundario, arriba, abajo, centro y mas*/
  align-items: end;
  /*Distancia entre el borde de la caja y su contenido. Margen Interno*/
  /*
    padding: 20px; 20 px en todas las direcciones
    padding: 20px 0; 20 arriba y abajo, 0 derecha e izquierda
    padding: 20px 0 20px 0; 20 arriba, 0 derecha, 20 abajo, 0 izquierda
  */
  padding: 10px;
  /*
    Distancia entre dos elementos. Margen Externo
    margin
  */
  /*Radio de los bordes, se lee arriba izquierda, arriba derecha
  abajo izquierda, abajo derecha*/
  border-radius: 0 0 15px 15px;
}

/*
  nav div selecciona todos los divs dentro de nav
  nav > div selecciona solo los divs hijos directos de nav
*/
nav div {
  display: flex;
  /*Espaciado entre los elementos de la fila o columna*/
  gap: 20px
}
/*
  Las pseudoclases manejan el estado de un elemento
  :hover se activa cuando el mouse pasa por encima del elemento
  :active se activa cuando el elemento es presionado
  :focus se activa cuando el elemento es seleccionado
  :visited se activa cuando el elemento es visitado
  :link se activa cuando el elemento es un link
  :first-child se activa cuando el elemento es el primer hijo de su padre
  :last-child se activa cuando el elemento es el último hijo de su padre
*/
nav div a:visited, nav div a:link {
  color:white;
  text-decoration: none;
}

/*Para seleccionar una clase en css se debe utilizar .*/
.enlace:hover{
  color: black;
}

/*Para seleccionar un id en css debo utilizar #
#inicio:hover, #introduccion:hover{
  color: black;
}
*/
/*
  nav div a {
    margin: 0 20px;
  }
*/

/*MAIN*/
main {
  height: 70vh;
  min-height: 70vh;
}